<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @week.number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @week.status %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @week.winner %>
</p>

<p>
  <strong>Previous week:</strong>
  <%= @week.previous_week_id %>
</p>

<%= link_to 'Edit', edit_week_path(@week) %> |
<%= link_to 'Back', weeks_path %>
