<%= form_for([:admin, @contestant]) do |f| %>
  <% if @contestant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contestant.errors.count, "error") %> prohibited this contestant from being saved:</h2>

      <ul>
      <% @contestant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <br />
    Email: <em><%= @contestant.email %></em>
    <br />
    Vote Count: <em style="text-decoration: underline;"><%= @contestant.votes.count + @contestant.tiebreakers.count %></em>
  </div>
  <hr />

  <h1>Picks</h1>
  
<% Week.order(:number => :asc).each do |week| %>
  <table class="table">
    <h3>Week <%= week.number %> Votes</h3>
    <thead>
      <tr>
        <th>Home Team</th>
        <th></th>
        <th>Away Team</th>
        <th>Pick</th>
        <th>Tiebreaker</th>
      </tr>
    </thead>
    <tbody>
      <% week.games.order(:order => :asc).each do |game| %>
        <% winningteam = game.winning_team %>
        <% vote = @contestant.votes.where(:game => game).first %>
        <% tbvote = @contestant.tiebreakers.where(:game => week.tiebreaker_game).first %>
        <tr>
          <td class="tdwidth"><%= game.home_team.name %></td>
          <td class="tdwidth">vs.</td>
          <td class="tdwidth"><%= game.away_team.name %></td>
          <td class="tdwidth">
            <% if vote %>
              <em>
                <%= vote.team.name %>
                <% if vote.team == winningteam %>
                  <span class='win'>√</span>
                <% elsif vote.team != winningteam && winningteam %>
                  <span class='loss'>X</span>
                <% else %>
                  <em><%= "N/A" %></em>
                <% end %>
              </em>
            <% end %>
            <% if !vote && tbvote %>
              <em><%= "N/A" %></em>
            <% end %>
            <% if !vote && !tbvote %>
              <em><%= "N/A" %></em>
            <% end %>
          </td>
          <td class="tdwidth">
            <% if !vote && tbvote %>
              <em><%= tbvote.home_score %>
              -
              <%= tbvote.away_score %></em>
            <% elsif vote %>
              <em><%= "N/A" %></em>
            <% else %>
              <em><%= "N/A" %></em>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<% end %>
