<%= form_for([:admin, @contestant]) do |f| %>
  <% if @contestant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contestant.errors.count, "error") %> prohibited this contestant from being saved:</h2>

      <ul>
      <% @contestant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <hr />

  <h1>Picks</h1>
  
<% Week.order(:number => :asc).each do |week| %>
  <table class="table">
    <h3>Week <%= week.number %> Votes</h3>
    <thead>
      <tr>
        <th>Home Team</th>
        <th></th>
        <th>Away Team</th>
        <th>Pick</th>
        <th>Tiebreaker</th>
      </tr>
    </thead>
    <tbody>
      <% week.games.order(:order => :asc).each do |game| %>
        <% vote = @contestant.votes.where(:game => game).first %>
        <% tbvote = @contestant.tiebreakers.where(:game => week.tiebreaker_game).first %>
        <tr>
          <td><%= game.home_team.name %></td>
          <td>vs.</td>
          <td><%= game.away_team.name %></td>
          <td>
            <% if vote %>
              <%= vote.team.name %>
            <% end %>
            <% if !vote && tbvote %>
              <%= "N/A" %>
            <% end %>
          </td>
          <td>
            <% if !vote && tbvote %>
              <%= tbvote.home_score %>
              -
              <%= tbvote.away_score %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<% end %>
