<nav>
  <ul>
    <li><%= link_to 'Back', admin_path %></li>
    <li><%= link_to 'New Contestant', '/contestants/sign_in' %></li>
  </ul>
</nav>

<h1>Contestants</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <div class="digg_pagination">
      <div class="page_info">
        <%= page_entries_info @posts %>
      </div>
      <%= will_paginate @contestants %>
    </div>
      <% @contestants.each do |contestant| %>
        <tr>
          <td><%= link_to contestant.display_name, admin_contestant_path(contestant) %></td>
          <td><%= link_to contestant.email, admin_contestant_path(contestant) %></td>
          <td><%= link_to "View Votes", admin_contestant_path(contestant), class: "view" %></td>
        </tr>
      <% end %>
  </tbody>
</table>


