<nav>
  <ul>
    <li><%= link_to 'Back', admin_duo_picks_path %></li>
    <li><%= link_to 'Edit Picks', edit_admin_duo_pick_path(@duo_pick) %></li>
  </ul>
</nav>

<h1>Duo Picks for Week <%= @duo_pick.week.try(:number) %></h1>

<table class="duo_picks games table">
  <tbody>
  <% if !@duo_pick.week.regular_games.blank? %>
    <% for game in @duo_pick.week.regular_games %>
      <tr>
        <!-- Home Team -->
        <td class="home name">
          <label><%= game.home_team.name %></label>
        </td>
        <td class="home vote">
          <%= "√" if @duo_pick.picks[game.id.to_s].to_i == game.home_team_id %>
        </td>
        <td class="vs">vs.</td>
        <!-- Away Team -->
        <td class="away vote">
          <%= "√" if @duo_pick.picks[game.id.to_s].to_i == game.away_team_id %>
        </td>
        <td class="away name">
          <label><%= game.away_team.name %></label>
        </td>
      </tr>
    <% end %>
    <% if game = @duo_pick.week.tiebreaker_game %>
      <tr>
        <!-- Home Team -->
        <td class="home name"><label><%= game.home_team.name %></label></td>
        <td class="home vote"><%= @duo_pick.picks[game.id.to_s].try(:[], 'home_score') %></td>
        <td class="vs">vs.</td>
        <!-- Away Team -->
        <td  class="away vote"><%= @duo_pick.picks[game.id.to_s].try(:[], 'away_score') %></td>
        <td class="away name"><label><%= game.away_team.name %></label></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td>No games for Week <%= @duo_pick.week.number %> yet.</td>
    </tr>
  <% end %>
  </tbody>
</table>
