<nav>
  <ul>
    <li><%= link_to 'Back', admin_path %></li>
    <li><%= link_to 'New Team', new_admin_team_path %></li>
  </ul>
</nav>

<h1>Teams</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <div class="digg_pagination">
      <div class="page_info">
        <%= page_entries_info @posts %>
      </div>
      <%= will_paginate @teams, :container => false %>
    </div>
        <% @teams.each do |team| %>
          <tr>
            <td><%= link_to team.name, edit_admin_team_path(team) %></td>
          </tr>
        <% end %>
  </tbody>
</table>


