<%= form_for([:admin, @week]) do |f| %>
  <% if @week.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@week.errors.count, "error") %> prohibited this week from being saved:</h2>

      <ul>
      <% @week.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <% defaultweek = Week.all.last.number + 1 %>
    <%= f.number_field :number, :value => defaultweek %>
  </div>
  <div class="field">
    <p>Set <strong>CURRENT</strong> Week? (<em><strong>WARNING</strong>: Only one current week at a time!</em>)</p>
    <%= f.check_box :status %>
    <br>
  </div>
  <div class="field">
    <br><%= f.label :previous_week_id %><br>
    <% defaultweek = defaultweek - 1 %>
    <%= f.select :previous_week_id, Week.all.collect { |w| [ "Week #{w.number}", w.id ] }, { include_blank: true }, :selected => Week.all.where(:week_id => defaultweek) %>
  </div>
  <div class="field">
    <%= f.label :next_week_id %><br>
    <% defaultweek = defaultweek + 2 %>
    <%= f.select :next_week_id, Week.all.collect { |w| [ "Week #{w.number}", w.id ] }, { include_blank: true }, :selected => defaultweek %>
  </div>
  <div class="field">
    <%= f.label :winning_contestant_id %><br>
    <%= f.text_field :winning_contestant_id %>
  </div>
  <div class="actions">
    <%= f.submit class: "view" %>
  </div>
<% end %>
