<h1>Week <%= @week.number %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Home</th>
      <th></th>
      <th>Away</th>
      <th>Tiebreaker?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @week.games.each do |game| %>
      <tr>
        <td><%= game.home_team.name %></td>
        <td>vs.</td>
        <td><%= game.away_team.name %></td>
        <td><%= "√" if @week.tiebreaker_game == game %></td>
        <td><%= link_to 'Edit', edit_admin_week_game_path(@week, game) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @week.winning_contestant %>
  <table class="table">
    <thead>
      <tr>
        <th>Winning Contestant</th>
      </tr>
      <tr>
        <th><%= @week.winning_contestant.email %> - <%= @week.winning_contestant.display_name %></th>
      </tr>
    </thead>

    <tbody>
      <% @week.winning_contestant.votes.each do |vote| %>
        <tr>
          <td><%= vote.team.name %></td>
        </tr>
      <% end %>
      <tr>
        <td>Home Score</td>
        <td><% winningscore = @week.winning_contestant.tiebreakers.where(:game => @week.tiebreaker_game).first %><%= winningscore.home_score %></td>
      </tr>
      <tr>
        <td>Away Score</td>
        <td><% winningscore = @week.winning_contestant.tiebreakers.where(:game => @week.tiebreaker_game).first %><%= winningscore.away_score %></td>
      </tr>
    </tbody>
  </table>
<% end %>

<nav>
  <ul>
    <li><%= link_to 'New Game', new_admin_week_game_path(@week) %></li>
    <li><%= link_to 'Edit Week', edit_admin_week_path(@week) %></li>
    <li><%= link_to 'Back', admin_weeks_path %></li>
  </ul>
</nav>
