<!DOCTYPE html>
<html lang="en">
<head>
  <title>Patches Picks 2014 : Admin</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice -%>
  <div id="messages"><p class="notice"><%= notice %></p></div>
  <% end %>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brandadmin" href="/">Patchs Picks Bowl</a>
        <a class="brand" href="/admin" style="font-size: 18px;">[Admin Dashboard]</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="<%= "active" if controller_name =~ /contestants/ %>">
              <%= link_to "Contestants", admin_contestants_path %>
            </li>
            <li class="<%= "active" if controller_name =~ /teams/ %>">
              <%= link_to "Teams", admin_teams_path %>
            </li>
            <li class="<%= "active" if controller_name =~ /weeks|games/ %>">
              <%= link_to "Weeks", admin_weeks_path %>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">

    <%= yield %>

  </div> <!-- /container -->
</body>
</html>
