<!DOCTYPE html>
<html lang="en">
<head>
  <title>TaxSlayer Picks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-54282331-1', 'auto');
	  ga('require', 'displayfeatures');
	  ga('require', 'linkid', 'linkid.js');
	  ga('send', 'pageview');

	</script>
</head>
<body onload="noticealert();">
	<script type="text/javascript" language="javascript">
	    function noticealert()
	    {
	        $("#messages").fadeOut(6000);
	    }
	</script>
<div id="mainbg">
	<div id="wrapper">

		<header>
			<%= link_to_image("../../assets/logo.png", root_url) %>
			<ul id="navlist">
				<% if signed_in? %>
				<li><%= link_to 'Log Out (' + current_contestant.email + ')', '/contestants/sign_out', :method => :delete %></li>
				<% if current_contestant.email == "john@ceaproduction.com" || "Gwatdesigns@gmail.com" || "Katie@taxslayerbowl.com" %>
					<li><%= link_to 'Admin', '/admin' %></li>
				<% end %>
				<% else %>
					<li><a href="/contestants/sign_in">Sign In/Register</a></li>
				<% end %>
				<li><a href="/rules">Rules</a></li>
				<li><%= link_to "Play Now", play_path %></li>
			</ul>
			<div style="clear: both;">
				&nbsp;
			</div>
			<h1 id="maintitle">Can you out pick TaxSlayer's Dynamic Duo?</h1>
		</header>

		<% if notice -%>
		<div id="messages">
			<p class="notice"><%= notice %></p>
		</div>
		<% end %>

		<% if alert -%>
		<div id="messages">
			<p class="alert"><%= alert %></p>
		</div>
		<% end %>

		<%= yield %>
	</div>
	<footer>
		<div id="top-participants">
			<span style="font-weight: bold; color: #FFFFFF; margin-bottom: -10px; float: left;">TOP PARTICIPANTS |</span>
			<ul>
				<marquee id="topp">
				  <% for contestant in Contestant.top_voters %>
						<li><%= contestant.display_name %></li>
				  <% end %>
				</marquee>
			</ul>
		</div>
		<hr id="footerbar" />
		<div id="footerlogos">
			<div class="row">
			  <div class="col-md-3" style="float: left;"><a href="http://www.taxslayerbowl.com/purchase-tickets/" target="_blank">TaxSlayerBowl.com<br />Purchase Tickets<a/></div>

			  <div class="col-md-3" style="float: left;"><a href="http://taxslayerbowl.com/" target="_blank"><img style="margin: 0 auto; display: block; max-width: 200px;" src="../../assets/tslogofooter.png" alt="TaxSlayerBowl" width="100%" height="auto" \><a/></div>

			  <div class="col-md-3" style="float: left;"><a href="http://www.jrmracing.com/" target="_blank"><img style="margin: 0 auto; display: block; max-width: 200px;" src="../../assets/jrlogo.png" alt="JR Motorsports" width="100%" height="auto" \><a/></div>

			  <div class="col-md-3" style="float: left;"><a href="http://taxslayer.com/" target="_blank"><img style="margin: 0 auto; display: block; max-width: 200px;" src="../../assets/tslogo.png" alt="TaxSlayer.com" width="100%" height="auto" \><a/></div>

			  <div class="col-md-3" style="float: left;">
			  	<a class="socialcontainer" style="float: left;" href="https://www.facebook.com/taxslayerbowl" target="_blank"><img class="socialicon" style="margin: 0 auto; display: block; max-width: 32px;" src="../../assets/facebook.png" alt="TaxSlayer.com" width="100%" height="auto" \><a/>

			  	<a class="socialcontainer" style="float: left;" href="https://twitter.com/taxslayerbowl" target="_blank"><img class="socialicon" style="margin: 0 auto; display: block; max-width: 32px;" src="../../assets/twitter.png" alt="TaxSlayer.com" width="100%" height="auto" \><a/>

			  	<a class="socialcontainer" style="float: left;" href="http://instagram.com/taxslayerbowl" target="_blank"><img class="socialicon" style="margin: 0 auto; display: block; max-width: 32px;" src="../../assets/instagram.png" alt="TaxSlayer.com" width="100%" height="auto" \><a/>
			  	</div>
			</div>
		</div>
	</footer>
</div>
</body>
</html>
